Repository patrickojeh/patrickojeh.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, eslint . --fix

.lintstagedrc.json:

{
  "**/*.js": [
    "eslint",
    "prettier --write"
  ],
  "*.html": [
    "eslint . --fix",
    "prettier --write"
  ],
  "*.scss": "prettier --write"
}

Clean output directory when watching for changes
  .eleventy.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Rename directory that contains work preview images
  src/images/thumbnails/iledoola-preview.png
  src/images/thumbnails/paystack-preview.png
  src/images/thumbnails/productjobs-preview.png
  src/index.html
  src/scss/pages/_home.scss
Due: prettier --write, eslint . --fix

Add photos section to home page
  src/images/photos/photo-1.png
  src/images/photos/photo-2.png
  src/index.html
  src/scss/base/_base.scss
  src/scss/pages/_home.scss
Due: prettier --write, eslint . --fix

Update project summary
  src/index.html
Due: prettier --write, eslint . --fix

Remove underline in links
  src/scss/base/_base.scss
Due: prettier --write

Add header and footer partials
  src/_includes/layouts/base.html
Due: prettier --write, eslint . --fix

Create navigation partial
  src/_includes/partials/navigation.html
Due: prettier --write, eslint . --fix

Update about-me description
  src/index.html
Due: prettier --write, eslint . --fix

Include style for header and footer partials
  src/scss/layout/_footer.scss
  src/scss/layout/_header.scss
  src/scss/main.scss
Due: prettier --write

Create fixed footer
  src/_includes/partials/footer.html
Due: prettier --write, eslint . --fix

Minor style update to home
  src/scss/pages/_home.scss
Due: prettier --write

Create animation for binker effect in current time
  src/scss/base/_animations.scss
  src/scss/main.scss
Due: prettier --write

Create dir for utility functions
  src/js/utils/index.js
Due: eslint, prettier --write

Implement dynamic time
  src/_includes/partials/footer.html
Due: prettier --write, eslint . --fix

Implement time blinker separator
  src/scss/layout/_footer.scss
Due: prettier --write

Create file for site's js
  src/js/app.js
Due: eslint, prettier --write

Import created utility functions to get time functionality up and running
  src/js/main.js
Due: eslint, prettier --write

Add hover animation to project card
  src/scss/pages/_home.scss
Due: prettier --write

Minor refactor
  src/js/main.js
Due: eslint, prettier --write

Add noisy background effect
  src/_includes/layouts/default.html
  src/images/graphics/noise.png
  src/scss/base/_animations.scss
Due: prettier --write, eslint . --fix

Update markup
  src/_includes/partials/footer.html
Due: prettier --write, eslint . --fix

Update url in href
  src/_includes/partials/navigation.html
Due: prettier --write, eslint . --fix

Update dummy About page
  src/about.html
  src/about.md
Due: prettier --write, eslint . --fix

Update typo
  src/index.html
Due: prettier --write, eslint . --fix

Add function to render the current year in footer
  src/js/app.js
Due: eslint, prettier --write

Add function to render the current year in footer
  src/js/main.js
Due: eslint, prettier --write

Add gradient to background
  src/scss/base/_base.scss
Due: prettier --write

Fix responsive inconsistency in container width
  src/scss/layout/_header.scss
Due: prettier --write

Change color of loader bar
  src/scss/components/_progress-loader.scss
Due: prettier --write

Style noisy background
  src/scss/pages/_home.scss
Due: prettier --write

Add site name
  .eleventy.js
Due: eslint, prettier --write

Add favicon
  src/_includes/layouts/base.html
  src/images/favicon.ico
Due: prettier --write, eslint . --fix

Add logomark
  src/_includes/partials/navigation.html
  src/images/svgs/bolt.svg
Due: prettier --write, eslint . --fix

Set h4 font size
  src/scss/vendors-extensions/_skeleton.scss
Due: prettier --write

Adjust column width
  src/scss/layout/_header.scss
Due: prettier --write

Prevent footer row from overlapping page content
  src/scss/layout/_footer.scss
Due: prettier --write

Modify page gradient
  src/scss/base/_base.scss
Due: prettier --write

Hide page loader
  src/scss/components/_progress-loader.scss
Due: prettier --write

Update text
  src/index.html
Due: prettier --write, eslint . --fix

Complete about me
  src/about.html
Due: prettier --write, eslint . --fix
