Repository patrickojeh/patrickojeh.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint"
  ],
  "*.html": [
    "eslint",
    "prettier --write"
  ],
  "*.scss": "prettier --write"
}

Test linting
  .lintstagedrc.json
Due: none

Test linting
  src/js/main.js
Due: eslint

Test linting
  .eslintignore
  .eslintrc
  .husky/.gitignore
  .lintstagedrc.json
  .prettierrc
  .prettierrc_
  package.json
  src/js/main.js
Due: eslint

Test linting
  .husky/pre-commit
Due: none

Test linting
  package.json
Due: none

Test linting
  .husky/pre-commit
  .lintstagedrc.json
  src/js/main.js
Due: eslint

Test linting
  .eslintrc
  .lintstagedrc.json
  .prettierrc
Due: none

Test linting
  .eslintrc
  .prettierrc
  src/js/main.js
  src/js/spa.js
Due: eslint

Remove unused js file
  src/js/test.js
Due: eslint

Setup SCSS architecture
  src/scss/base/_base.scss
  src/scss/components/_progress-loader.scss
  src/scss/main.scss
  src/scss/utilities/_variables.scss
Due: prettier --write

Add Skeleton to help with layout
  src/scss/vendors-extensions/_skeleton.scss
  src/scss/vendors/_skeleton.scss
Due: prettier --write

Switch from using markdown to html
  .eleventy.js
  src/_includes/layouts/base.html
  src/_includes/layouts/home.html
  src/_includes/layouts/page.html
  src/_includes/partials/navigation.html
  src/about.md
  src/index.html
  src/index.md
  src/scss/main.scss
  src/scss/vendors-extensions/_skeleton.scss
Due: eslint, prettier --write

Override browser defaults
  src/scss/base/_base.scss
Due: prettier --write

Include custom font
  .eleventy.js
  src/fonts/MessinaSans-Regular.ttf
  src/fonts/MessinaSans-SemiBold.ttf
  src/scss/base/_base.scss
  src/scss/base/_fonts.scss
  src/scss/main.scss
Due: eslint, prettier --write

Include custom primary font
  src/scss/base/_typography.scss
  src/scss/utilities/_variables.scss
Due: prettier --write

Add more introductory text to home page
  src/index.html
Due: eslint, prettier --write

Include custom secondary font
  src/fonts/SharpGrotesk-Medium25.otf
  src/scss/base/_fonts.scss
Due: prettier --write

Set default font family
  src/scss/base/_base.scss
Due: prettier --write

Override styling for header titles
  src/scss/base/_typography.scss
Due: prettier --write

Override Skeleton's h5 font size
  src/scss/vendors-extensions/_skeleton.scss
Due: prettier --write

Include secondary font declaration
  src/scss/utilities/_variables.scss
Due: prettier --write

Add title for featured projects section
  src/index.html
Due: eslint, prettier --write

Refactor to include another section for featured projects
  src/index.html
Due: eslint, prettier --write

Override Skeleton columns
  src/scss/vendors-extensions/_skeleton.scss
Due: prettier --write

Add styling for project section on home page
  src/_includes/partials/project-card-item.html
  src/scss/pages/_home.scss
Due: eslint, prettier --write

Change links styling
  src/scss/base/_base.scss
Due: prettier --write

Add 'project' class
  src/index.html
Due: eslint, prettier --write

Include home scss file
  src/scss/main.scss
Due: prettier --write

Include image asset
  .eleventy.js
  src/images/productjobs-preview.png
Due: eslint

Rename layout
  src/_includes/layouts/default.html
Due: eslint, prettier --write

Include styling for responsive design
  src/scss/main.scss
  src/scss/utilities/_responsive.scss
Due: prettier --write

Update markup
  src/index.html
Due: eslint, prettier --write

Update styling for base elements
  src/scss/base/_base.scss
Due: prettier --write

Update default style for h6
  src/scss/base/_typography.scss
Due: prettier --write

Define variable for brown color
  src/scss/utilities/_variables.scss
Due: prettier --write

Update styling for projects section on home page
  src/scss/pages/_home.scss
Due: prettier --write

Add other projects preview to featured preview section
  src/images/iledoola-preview.png
  src/images/paystack-preview.png
  src/index.html
  src/scss/pages/_home.scss
Due: eslint, prettier --write
