Repository patrickojeh/patrickojeh.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, eslint . --fix

Update project card items with their links if applicable
  src/index.html
  src/scss/pages/_home.scss
Due: prettier --write, eslint . --fix

Add google analytics
  src/_includes/layouts/base.html
Due: prettier --write, eslint . --fix

Display page loader
  src/scss/components/_progress-loader.scss
Due: prettier --write

Create project page
  src/_includes/partials/navigation.html
  src/projects.html
Due: prettier --write, eslint . --fix

Minor refactor
  src/js/app.js
  src/js/main.js
  src/js/spa.js
Due: eslint, prettier --write

Typography color update
  src/scss/pages/_home.scss
Due: prettier --write

Update project list
  src/index.html
  src/projects.html
Due: prettier --write, eslint . --fix

Noise
  src/scss/pages/_home.scss
Due: prettier --write

Fix contrast issue with fix navigation header
  src/scss/layout/_header.scss
  src/scss/utilities/_variables.scss
Due: prettier --write

Bring page loader to top
  src/scss/components/_progress-loader.scss
Due: prettier --write

Fix blur fixed header effect for non-chrome browsers
  src/scss/layout/_header.scss
Due: prettier --write

Add hover micro interaction to photos
  src/scss/pages/_home.scss
Due: prettier --write

Remove hover effect
  src/scss/pages/_home.scss
Due: prettier --write

Add image reveal microinteraction
  src/index.html
  src/scss/base/_animations.scss
  src/scss/pages/_home.scss
Due: prettier --write, eslint . --fix

Modify animation
  src/scss/pages/_home.scss
Due: prettier --write

Remove template strings
  src/_includes/partials/footer.html
Due: prettier --write, eslint . --fix

Make performance optimisations
  src/_includes/layouts/base.html
  src/images/photos/photo-1.png
  src/images/photos/photo-1.webp
  src/images/photos/photo-2.png
  src/images/photos/photo-2.webp
  src/images/thumbnails/iledoola-preview.png
  src/images/thumbnails/iledoola-preview.webp
  src/images/thumbnails/paystack-preview.png
  src/images/thumbnails/paystack-preview.webp
  src/images/thumbnails/productjobs-preview.png
  src/images/thumbnails/productjobs-preview.webp
  src/index.html
  src/scss/pages/_home.scss
Due: prettier --write, eslint . --fix

Minor update to photo
  src/scss/pages/_home.scss
Due: prettier --write

Update image file extension to webp
  src/projects.html
Due: prettier --write, eslint . --fix

Change font display rendering
  src/scss/base/_fonts.scss
Due: prettier --write

Revert font display rendering
  src/scss/base/_fonts.scss
Due: prettier --write

Add a scroll microinteraction for photos on home page
  src/js/app.js
  src/scss/pages/_home.scss
Due: eslint, prettier --write

Add a scroll microinteraction for photos on home page
  .eslintrc
Due: none

Add a scroll microinteraction for photos on home page
  src/js/app.js
Due: eslint, prettier --write

Reduce offset for scroll microinteracition
  src/js/app.js
Due: eslint, prettier --write

Increase offset for scroll microinteracition
  src/_includes/partials/navigation.html
  src/js/app.js
Due: eslint, prettier --write, eslint . --fix

Add portrait photo to About page
  src/about.html
  src/images/photos/headshot.webp
  src/scss/main.scss
  src/scss/pages/_about.scss
Due: prettier --write, eslint . --fix

Increase border radius
  src/scss/pages/_about.scss
Due: prettier --write

Add footnotes
  src/_includes/layouts/base.html
  src/_includes/partials/footnotes.html
  src/about.html
  src/scss/layout/_footer.scss
  src/scss/pages/_home.scss
Due: prettier --write, eslint . --fix

Update footnote typo
  src/_includes/partials/footnotes.html
Due: prettier --write, eslint . --fix

Update footnote lineheight
  src/scss/layout/_footer.scss
Due: prettier --write

Reduce portrait photo size
  src/about.html
  src/scss/pages/_about.scss
Due: prettier --write, eslint . --fix

Change hr line in footnote
  src/scss/layout/_footer.scss
Due: prettier --write

Fix broken link
  src/index.html
Due: prettier --write, eslint . --fix

Path conditions:
  eslint: any of: **/*.js
  prettier --write: ((any of: **/*.js) or (any of: *.html)) or (any of: *.scss)
  eslint . --fix: any of: *.html
